@model SipmleCRUD.Models.Employee
@using (Html.BeginForm())
{
<div class="container">
    <div class="form-group">
        <label>Employee ID:</label>
        <input class="form-control" name="EmployeeID" placeholder="Enter Employee ID" />
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="Name" placeholder="Enter Name" />
    </div>
    <div class="form-group">
        <label>Father Name:</label>
        <input class="form-control" name="Father_Name" placeholder="Enter Father Name" />
    </div>
    <div class="form-group">
        <label>Mother Name:</label>
        <input class="form-control" name="Mother_Name" placeholder="Enter Mother Name" />
    </div>
    <div class="form-group">
        <label>NID:</label>
        <input class="form-control" name="NID" placeholder="Enter NID" />
    </div>
    <div class="form-group">
        <label>Present Address:</label>
        <input class="form-control" name="Present_Address" placeholder="Enter Present Address" />
    </div>
    <div class="form-group">
        <label>Permanent Address:</label>
        <input class="form-control" name="Permanent_Address" placeholder="Enter Permanent Address" />
    </div>
    <div class="form-group">
        <label>Join Date:</label>
        <input class="form-control" name="Join_Date" placeholder="Enter Join Date" />
    </div>
    <div class="form-group">
        <label>Designation:</label>
        <input class="form-control" name="Designation" placeholder="Enter Designation" />
    </div>
    <div class="form-group">
        <label>Basic Salary:</label>
        <input class="form-control" name="Basic" placeholder="Enter Basic Salary" />
    </div>
    <div class="form-group">
        <label>Bank A/C No:</label>
        <input class="form-control" name="Bank_A_C_No" placeholder="Enter Bank A/C No" />
    </div>
    <div class="button">
        <button class="btn btn-success">Submit</button>
    </div>
    <h2>AddEmployeeInfo</h2>

</div>
}